__pycache__/
.bloop/
.bsp/
.cas/
.metals/
.scala-build/
project/target/
project/project/
target/
host-rust/target/
rust-vm/target/
verifier-lean/.lake/
.stratum/
tmp/
node_modules/
studio/vscode/out/
studio/vscode/package.json
studio/repository/out/
.idea/
.vscode-test/
*.generated.meta
*.generated.grammar
**/closure/
**/foundation.canon
**/evidence.canon
**/derivation.canon
host/core.canon
